.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:blue;
    font-family: 'Your Handwriting Font', cursive;
}

.button-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}